body {
    background-color: white ;
}

main {
    background-color: #CCCCCC ;
    display: inline-flex ;
    margin: 0 auto ;
    position: relative ;
    padding: 30px 0 ;
    width: 100%
}


header {
    background-color: violet ;
    color: black ;
    font-weight: 400 ;
    left: 0px ;
    height: 100px ;
    position: relative ;
    top: 0px ;
    width: 100% ;
    z-index: 2
}
nav {
    display: inline-flex ;
    justify-content: space-between ;
    height: 100% ;
    left: 50% ;
    max-width: 1100px ;
    position: relative ;
    transform: translateX( -50% ) ;
    width: 100%
}
nav > a {
    color: black ;
    position: relative ;
    top: 50% ;
    text-decoration: none ;
    transform: translateY(-50%)
}
nav > a > button {
    color: black ;
    position: relative ;
    top: 50% ;
    text-decoration: none ;
    transform: translateY(-50%);
}

.timeDisplayer {
    background-color: green;
    border-bottom: 1px solid gray ;
    color: white ;
    font-weight: 700 ;
    position: relative ;
    text-align: center ;
    width: 100% ;
    z-index: 2
}
.timeDisplayContainer {
    display: inline-flex ;
    font-family: monospace ;
    font-size: 17px ;
    font-weight: 700 ;
    justify-content: space-between;
    line-height: 2.5 ;
    max-width: 1100px ;
    width: 100%
}

footer {
    background-color: red ;
    position: relative ;
    width: 100% ;
    z-index: 5 
}

.balanceSection {
    text-align: left ;
    position: relative ;
    width: 100% ; 
    max-width: 1100px ;
    margin: 0 auto ;
    padding: 10px 0 ;
    background-color: purple ;
    color: white ;
    font-family: monospace ;
    font-size: 18px ;
    font-weight: 700
}

.pointsInput { background-color: yellow ; padding: 10px 0 }
.pointsInput > div {
    font-size: 14px ;
    font-weight: 500 ;
    width: 60px
}
.pointsInput > div > input {
    appearance: none ;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    -o-appearance: none ;
    -ms-appearance: none ;
    border: 2px solid #000 ;
    border-radius: 7px ;
    font-family: monospace ;
    font-size: 14px ;
    font-weight: 700 ;
    left: 50% ;
    padding: 5px 2px ;
    position: relative ;
    text-align: center ;
    transform: translateX( -50% ) ;
    width: 40px
}
.pointsInput > div > span {
    display: block ;
    font-family: monospace ;
    font-size: 22px ;
    font-weight: 900 ;
    position: relative ;
    text-align: center ;
    width: 100%
}

.timeSelection {
    background-color: #02FFEF ;
    display: inline-flex ;
    justify-content: center ;
    padding: 10px 0 ; 
    position: relative ;
    max-width: 1100px ;
    left: 50%;
    transform: translateX(-50%) ;
    width: 100%
}
.timeSelection label {
    font-family: monospace ;
    font-size: 18px ;
    font-weight: 700 ;
    line-height: 1.7
}
.timeSelection > #optionApplication {
    background-color: #fff ;
    border: 2px solid #000 ;
    border-radius: 5px ;
    color: #000 ;
    font-family: monospace ;
    font-size: 16px ;
    font-weight: 700 ;
    padding: 2px 5px ;
}

.login , .pointsInput {
    display: inline-flex ;
    justify-content: space-around ;
    left: 50% ;
    max-width: 1100px ;
    position: relative ;
    transform: translateX( -50% ) ;
    width: 100%
}
.login {background: linear-gradient(to bottom,orange,white);padding:10px 0}
.login label {
    font-family: monospace ;
    font-size: 18px ;
    font-weight: 700
}

#cardNumber , #pinNumber {
    appearance: none ;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    -o-appearance: none ;
    -ms-appearance: none ;
    border: 2px solid #000 ;
    border-radius: 7px ;
    font-family: monospace ;
    font-size: 18px ;
    font-weight: 700 ;
    padding: 5px 10px
}

#loginButton {
    appearance: none ;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    -o-appearance: none ;
    -ms-appearance: none ;
    background-color: #000 ;
    border: 0 ;
    border-radius: 7px ;
    color: #fff ;
    font-family: monospace ;
    font-size: 20px ;
    font-weight: 700 ;
    padding: 5px 10px
}

.button {
    appearance: none ;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    -o-appearance: none ;
    -ms-appearance: none ;
    background-color: #000 ;
    color: #fff ;
    font-family: monospace ;
    font-size: 20px ;
    font-weight: 700 ;
    padding: 0px 10px
}

.tc {
    background:linear-gradient(to bottom,#FFC539,#DA7500);
    color: white;
    position: relative ;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 16px ;
    width: 100%;
    padding: 20px 0 ;
    max-width: 1100px ;
    font-weight: 800;
    text-align: center;
}


@font-face {
	font-family: 'budmo' ;
	font-style: normal ;
	src: url( "budmo jiggler.ttf" ) format( 'truetype' ) ;
}
@font-face {
	font-family: 'batriysh' ;
	font-style: normal ;
	src: url( "Batriysh Free Version.ttf" ) format( 'truetype' ) ;
}
